<div class="container mt-5 pt-5">
    <div class="d-flex justify-content-between pt-3 ">
        <div class="col-sm-7">
            <h1 class=" h1 font-weight-bold">Vous souhaitez lancer votre <br> projet ?</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Dignissimos illum sequi blanditiis, quaerat officia alias
                ducimus. Aut voluptatibus laudantium numquam
                voluptates modi quas dolores nobis corporis.
             </p>
                <div class="pt-1">
                    <a href="#" class=" btn btn-info" (click)="buy($event)">En savoir plus</a>
                </div>
        </div>
        <div class="">
            <div class=" w-50 h-25 mx-auto" >
                <img src="assets/meeting2.webp"  class="img-fluid">
            </div>
            
        </div>
    </div>
   
</div>
