<section class="login-block">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <form class="md-float-material form-material">

                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center"><img class="img " src="assets/phone.png" height="100" /></h3>
                                    <h3 class="text-center contact-us">Contact Us</h3>
                                    <h6 class="text-center">(we generally respond in 24 hours)</h6>

                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">

                                    <div class="form-group form-primary">
                                        <input type="text" name="email" class="form-control text-left"
                                            placeholder="Name" required="">

                                    </div>


                                </div>

                                <div class="col-md-6">

                                    <div class="form-group form-primary">
                                        <input type="text" name="email" class="form-control text-left"
                                            placeholder="Email" required="">

                                    </div>


                                </div>


                            </div>

                            <div class="form-group form-primary">
                                <input type="text" name="email" class="form-control text-left" placeholder="Message"
                                    required="">

                            </div>




                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button"
                                        class="btn btn-info btn-md btn-block waves-effect text-center m-b-20"><i
                                            class="fa fa-phone"></i> Contact Now </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>

</section>